
#
# RPC login details
#
host=127.0.0.1
<<<<<<< HEAD
port=9332
=======
port=8332
>>>>>>> 20c2a7ecbb53d034a01305c8e63c0ee327bd9917

rpcuser=myusername
rpcpass=mypass


#
# mining details
#

threads=4

# periodic rate for requesting new work, if solution not found
scantime=60


#
# misc.
#

# not really used right now
logdir=/tmp/pyminer

# set to 1, to enable hashmeter output
hashmeter=0


